
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: #0b1d3a;
    color: #000;
    overflow-x: hidden;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    background-image:
        radial-gradient(white 1px, transparent 1px),
        radial-gradient(white 1px, transparent 1px);
    background-size: 50px 50px, 80px 80px;
    background-position: 0 0, 40px 40px;
    animation: moveStars 60s linear infinite;
    opacity: 0.4;
    z-index: -1;
}

@keyframes moveStars {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(-200px, -200px);
    }
}

.header {
    background-color: #10a927;
    color: white;
    padding: 25px;
    text-align: center;
}

.header h1 {
    text-transform: uppercase;
    font-size: 26px;
    font-weight: bold;
}

.title {
    font-size: 16px;
    color: #dcdcdc;
}


.profile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}

.profile img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid #10a927;
    display: inline-block;
}

.bio {
    width: 50%;
    font-size: 14px;
    text-align: left;
}


.skills {
    margin: 20px;
    padding: 20px;
    background-color: #f7f9fc;
    border-radius: 8px;
}

.skills h2 {
    text-align: center;
    margin-bottom: 15px;
    color: #10a927;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.skill-card {
    background-color: #40c854;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    display: block;
    transition: transform 0.3s;
}


.skill-card:hover {
    transform: translateY(-5px);
}


.contact {
    background-color: #ffffff;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}

.contact h2 {
    text-align: center;
    margin-bottom: 10px;
    color: #10a927;
}

.contact form {
    width: 300px;
    margin: auto;
}

.contact input,
.contact textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
}

.contact button {
    width: 100%;
    padding: 8px;
    background-color: #10a927;
    color: white;
    border: none;
}

.footer {
    background-color: #10a927;
    color: white;
    text-align: center;
    padding: 12px;
    margin-top: 20px;
    font-size: 14px;
}


@media (max-width: 600px) {
    .profile {
        flex-direction: column;
        text-align: center;
    }

    .bio {
        width: 100%;
        margin-top: 10px;
    }

    .skills-grid {
        grid-template-columns: 1fr;
    }
}
